<header class="bg-red-500 opacity-90 shadow-md">
    <div class="p-4 px-7">
        <ul class="flex flex-wrap items-center text-white gap-2 sm:gap-4">
            <li>
                <a class="<%= currentPage==='index' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium text-lg px-4 py-1 rounded-md" 
                   href="/index">
                   Airbnb
                </a>
            </li>

            <% if (isLoggedIn) { %>
            <% if (user && user.usertype==='guest') { %>
                 
            <li>
                <a class="<%= currentPage==='home' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium px-4 py-1 rounded-md" 
                   href="/homes">
                   Homes-List
                </a>
            </li>
            <li>
                <a class="<%= currentPage==='booking' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium px-4 py-1 rounded-md" 
                   href="/booking">
                   Bookings
                </a>
            </li>
            <li>
                <a class="<%= currentPage==='favourites' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium px-4 py-1 rounded-md" 
                   href="/favourite-list">
                   Favourite
                </a>
            </li>
            <% }  else { %>
            <li>
                <a class="<%= currentPage==='getaddHome' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium px-4 py-1 rounded-md" 
                   href="/host/add-home">
                   Add Home
                </a>
            </li>
            <li>
                <a class="<%= currentPage==='hostHomes' ? 'bg-red-300' : 'hover:bg-red-400' %> font-medium px-4 py-1 rounded-md" 
                   href="/host/host-home-list">
                   Host Homes
                </a>
            </li>
            <% } %>
            <% } %>
            

            <% if (!isLoggedIn) { %>
            <li class="ml-auto">
                <a class="hover:bg-red-400 border border-white text-white py-1.5 px-5 font-semibold rounded-md transition duration-300 ease-in-out" 
                   href="/login">
                   Login
                </a>
            </li>
            <li>
                <a class="hover:bg-gray-200 border border-white text-red-400 bg-white py-1.5 px-5 font-semibold rounded-md transition duration-300 ease-in-out" 
                   href="/signup">
                   Signup
                </a>
            </li>
            <% } else { %>
            <li class="ml-auto">
                <form method="POST" action="/logout">
                    <button type="submit" 
                            class="hover:bg-red-400 py-1.5 border border-white px-5 font-semibold rounded-md transition duration-300">
                            Logout
                    </button>
                </form>
            </li>
            <% } %>
        </ul>
    </div>
</header>
