<header class="bg-red-400 shadow-md">
    <div class="p-4 px-7 flex flex-wrap flex-row items-center text-white">
        <a class="<%= currentPage==='index' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/index">Airbnb</a>
        <a class="<%= currentPage==='home' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/homes">Homes-List</a>
        <a class="<%= currentPage==='booking' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/booking">Bookings</a>
        <a class="<%= currentPage==='favourites' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/favourite-list">Favourite</a>
        <a class="<%= currentPage==='getaddHome' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/host/add-home">Add home</a>
        <a class="<%= currentPage==='hostHomes' ? 'bg-red-300' :'bg-red-400' %> px-4 py-1 rounded-md" href="/host/host-home-list">Host Homes</a>
<!-- last ke do exclusively host ke liye hai -->
    </div>
</header>